@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --Violet: hsl(257, 40%, 49%);
  --Soft-Magenta: hsl(300, 69%, 71%);
}

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Poppins", sans-serif;
}

body {
  padding: 25px 45px 25px 45px;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-size: contain;
  background-color: var(--Violet);
  background-image: url(./images/bg-desktop.svg);
}

header img {
  width: 200px;
}

.box {
  padding-top: 30px;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 50px;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.left > img {
  width: 100%;
  height: 100%;
}

.build {
  font-size: 38px;
}

p {
  font-family: "Open Sans", sans-serif;
}

.register {
  background-color: white;
  color: var(--Violet);
  text-decoration: none;
  width: fit-content;
  border-radius: 25px;
  padding: 10px 50px 10px 50px;
}

.socials {
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  width: 100%;
  position: relative;
  bottom: -70px;
}

.socials a svg {
  width: 40px;
  height: 40px;
  fill: #fff;
}

.register:hover {
  color: white;
  background-color: var(--Soft-Magenta);
}

.socials a svg:hover {
  fill: var(--Soft-Magenta);
}

@media (max-width: 450px) {
  .box {
    grid-template-columns: 1fr;
  }

  body {
    padding: 30px;
    background-image: url(./images/bg-mobile.svg);
    background-repeat: no-repeat;
  }

  header img {
    width: 150px;
  }

  .right {
    text-align: center;
    align-items: center;
  }

  .socials {
    justify-content: center;
    bottom: 0px;
  }

  .build {
    font-size: 26px;
  }
}
