*{
    align-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    margin-bottom: 30px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 32px;
}

ul li {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 2px;
}

.logo {
    width: 15vw;
}

svg {
    cursor: pointer;
}

.tr {
    height: 8vh;
}

.c1{
    display: flex;
    justify-content: center;
}

.container {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 60vw;
}

.box ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box ul li{
    margin: 5px;
}

a{
    text-decoration: none;
    color: white;
    padding: 8px 15px 8px 15px;
    background-color: rgb(92, 184, 92);
    font-weight: bold;
    border-radius: 8px;
    font-size: 12px;
}

.box ul li:first-child{
    font-size: 20px;
    font-weight: bold;
} 

.box ul li:nth-child(2){
    font-size: 15px;
} 

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.download{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.download img{
    width: 112px;
    height: 35px;
}

.du{
    font-size: 50px;
}

p{
    font-size: 25px;
    width: 975px;
    text-align: center;
}

button{
    font-size: 18px;
    font-weight: bold;
    color: white;
    border: none;
    background-color: #00b6d1;
    border-radius: 10px;
    padding: 10px 30px 10px 30px;
}

section .version img{
    width: 60px;
    margin-right: 20px;
}

.version{
    width: 975px;
    display: flex;
    justify-content: flex-start;
}

section .version span{
    font-size: 25px;
    margin-right: 10px;
}