* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

body {
    background-color: black;
}

.overview {
    width: 100%;
    background-image: url(./assets/images/background.jpg);
    background-size: cover;
    background-blend-mode: color;
    background-position: center center;
    box-sizing: border-box;
}

.content {
    width: 100%;
    background: linear-gradient(180deg, black, rgba(0, 0, 0, 0.5), black) !important;
}

header {
    width: 100%;
    box-sizing: border-box;
    padding: 30px 150px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo {
    width: 16%;
}

button {
    font-size: 16px;
    display: flex;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.44);
    border: 0.8px solid #808080;
    margin-left: auto;
    gap: 5px;
    padding: 5px 15px;
    border-radius: 5px;
}

button img {
    width: 18px;
}

.sign-in {
    padding: 5px 15px;
    border-radius: 5px;
    color: white;
    background-color: #E50914;
    text-decoration: none;
}

.main-content {
    padding: 150px;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    gap: 25px;
    text-align: center;
}

.unlimited {
    font-size: 48px;
    font-weight: 900;
}

.ready {
    font-size: 20px;
    font-weight: 400;
}

.watch {
    font-size: 24px;
    font-weight: 400;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    text-align: center;
}

input {
    width: 365px;
    height: 56px;
    background-color: rgba(0, 0, 0, 0.44);
    border: 1px solid #757575;
    border-radius: 5px;
}

.main-input {
    display: flex;
    gap: 20px;
}

input::placeholder {
    color: #757575;
}

input[type=text] {
    font-size: 18px;
    padding: 0px 18px;
    color: white;
}

label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #E50914;
    width: 208px;
    height: 56px;
    font-size: 24px;
    font-weight: 500;
    border-radius: 5px;
}

hr {
    border: 5px solid #232323;
}

.show {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 50px 150px;
    align-items: center;
    text-align: left;
    gap: 30px;
}

.about-show>div {
    font-size: 48px;
    font-weight: 900;
    gap: 50px;
    margin-bottom: 25px;
}

.about-show>p {
    font-size: 24px;
    font-weight: 400;
}

.show>div {
    width: 50%;
}

.img>img {
    width: 100%;
    position: relative;
    z-index: 1;
}

[class*="video"],
.boxshot {
    display: grid;
    grid-template-columns: 1fr;
}

.video1>video {
    position: relative;
    margin: auto;
    width: 28vw;
    z-index: -1;
    top: -5px;
}

.video2>video {
    position: relative;
    margin: auto;
    width: 23vw;
    z-index: -1;
    top: -65px;
}

.boxshot>div {
    position: relative;
    margin: auto;
    z-index: 1;
}

[class*="video"]>video,
[class*="video"]>img,
.boxshot>img,
.boxshot>div {
    grid-row: 1/2;
    grid-column: 1/2;
}

.left {
    flex-direction: row-reverse;
}

.boxshot>div>img {
    width: 58px;
}

.boxshot>div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: #000000;
    border: 2px solid #5A5A5A;
    border-radius: 10px;
    padding: 10px 15px;
    margin-top: auto;
    position: relative;
    top: 110px;
}

.st>div {
    font-size: 16px;
    font-weight: 500;
}

.st>span {
    font-size: 14px;
    font-weight: 400;
    color: rgb(0, 113, 235);
}

.faq {
    padding: 80px 150px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.faq>div:first-child {
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 30px;
}

.que{
    cursor: pointer;
}

.que:hover{
    background-color: #414141;
}

.ans{
    border-top: 1px solid black;
    display: none;
}

.ans {
    display: none;
    align-items: center;
    justify-content: space-between;
    background-color: #2D2D2D;
    padding: 30px;
}

.que {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2D2D2D;
    padding: 30px;
}


.que>div,.ans {
    font-size: 24px;
    font-weight: 400;
}

.visible{
    display: inline-block;
}

.invisible{
    display: none;
}

footer {
    padding: 70px 150px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

footer>div:first-child,
footer>div:first-child>a {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
    font-size: 16px;
}

.links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 15px;
}

.links>a,
.netflix-india {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
    font-size: 14px;
}

footer>button {
    margin-right: auto;
    margin-left: 0px;
}

@media screen and (max-width:450px) {
    header {
        padding: 25px;
        gap: 8px;
    }

    .logo {
        width: 28%;
    }

    button span {
        display: none;
    }

    body>.input {
        padding: 20px 25px;
    }

    input {
        width: 100%;
    }

    .main-content,
    .faq,
    footer {
        padding: 50px 25px;
    }

    .unlimited {
        font-size: 32px;
    }

    .watch,
    .ready {
        font-size: 18px;
    }

    .main-input {
        flex-direction: column;
        align-items: center;
    }

    .show {
        flex-direction: column;
        padding: 50px 25px;
        text-align: center;
    }

    .show>div {
        width: 100%;
    }

    .about-show>div {
        font-size: 32px;
    }

    .about-show>p,
    .que>div {
        font-size: 18px;
    }

    .video1>video {
        width: 65vw;
    }

    .video2>video {
        width: 53vw;
        left: -4px;
    }

    .faq>div:first-child {
        font-size: 32px;
        font-weight: 700;
    }

    .links {
        grid-template-columns: repeat(2, 1fr);
    }

    footer>button>span {
        display: unset;
    }
}